
<li class="control-group nested-fields">

  <div class="controls">
    <%= f.label "Text" %><br>
    <%= f.text_field :text %>
  </div>

  <div class="controls">
    <%= f.label "Category" %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :text, {}, class:'ui floating labeled dropdown button') %>
  </div>

  <br>
  <div class="controls">
    <%= link_to_remove_association "Remove", f, :class => 'small ui button' %>
  </div>
  <br>

</li>