
<div class='ui padded center aligned teal  segment show'>

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Text:</strong>
	  <%= @word.text %>
	</p>

	<p>
	  Meanings
	</p>

	<% @meanings.each do |meaning| %>

		<p>
	  		<%= meaning.text %>
		</p>

	<% end %>

	<p>
	  Synonymous
	</p>

	<% @synonymous.each do |synonymou| %>

		<% if synonymou.word_id==@word.id %>
			<% word_temp = Word.find_by_id(synonymou.word_2_id) %>
			<p>
				<%= link_to word_temp.text, word_path(word_temp) %>
			</p>
		<% elsif synonymou.word_2_id==@word.id %>
			<% word_temp = Word.find_by_id(synonymou.word_id) %>
			<p>
				<%= link_to word_temp.text, word_path(word_temp) %>
			</p>
		<% end %>

	<% end %>	

	<%= link_to 'Edit', edit_word_path(@word), class:'ui black button' %> |
	<%= link_to 'Back', words_path, class:'ui black button' %>

</div>