
<div class="ui form">
  <%= form_for(category, html: { multipart: true }) do |f| %>

    <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <div class='fields'>
        <div class='twelve wide field'>
          <%= f.label :text %>
          <%= f.text_field :text %>
        </div>
      </div>
    </div>
    
    <div class="actions">
      <%= f.submit class:'ui primary button' %>
    </div>

  <% end %>

</div>